main {
  margin: 20px;
  padding: 50px 20px;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  flex: 1;
}

h1, p
{
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 24px;
  color: yellow;
  background-color: #196EEF;
  padding: 15px 32px;
  border: 5px solid #222224;
  width: 66%;
  border-radius: 25px 25px;
}

.pokemon-button
{
  font-size: large;
  background-color: #ee1515;
  border: 1px solid #222224;
  color: black;
  padding: 15px 32px;
  width: 50px;
  height: 25px;
  margin: 25px 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px 25px 0 0;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  font-family: 'Pokemon Solid', sans-serif;
}

.pokemon-list
{
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
}

.pokemon-button:hover
{
  background-color: white;
  color: #222224;
}

.modal-dialog {
  border: 8px solid;
  border-radius: 25px 25px;
  border-color: black;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 24px;
  color: yellow;
  background-color: #196EEF;
}

.modal-header {
  background-color: #196EEF;
  border: 8px solid;
}